# Ignore unwanted IntelliJ IDEA project files
.idea/
*.iml

.vagrant/
# Added by Ansible when a playbook fails. They aren't useful for our single-host deploys.
*.retry
# Python byte code file. Created when /provisioning/callback_plugins/no_cyan.py is run.
*.pyc

# Ignore the Gradle cache directory.
.gradle/
# Ignore the output that Gradle generates in the "build/" directories...
build/

# Terraform files.
*.tfstate.backup
.terraform/
