# Ignore unwanted IntelliJ IDEA project files
.idea/
*.iml

.vagrant/
# Added by Ansible when a playbook fails. They aren't useful for our single-host deploys.
*.retry
# Python byte code file. Created when /ansible/callback_plugins/no_cyan.py is run.
*.pyc

# Ignore the Gradle cache directory.
.gradle/
# Ignore the output that Gradle generates in the "build/" directories...
build/

# Terraform files.
*.tfstate.backup
.terraform/

# Shouldn't be in version control, but keep one around for testing provision_prod.sh.
packer/packer_output.txt
