[submodule "provisioning/roles/oracle-java"]
	path = provisioning/roles/oracle-java
	url = https://github.com/ansiblebit/oracle-java.git
	branch = master
[submodule "provisioning/roles/ansible-role-ntp"]
	path = provisioning/roles/ansible-role-ntp
	url = https://github.com/geerlingguy/ansible-role-ntp.git
[submodule "provisioning/roles/ansible-nexus3-oss"]
	path = provisioning/roles/ansible-nexus3-oss
	url = https://github.com/cwardgar/ansible-nexus3-oss.git
